{% set _lbl = _h.labels('email', lang) %}
{% set _lblc = _h.labels('checkout', lang) %}
{% import _h.template('_macro.html') as mc %}

<div style="{{ mc.margin() }}">
	<h2 style="{{ mc.style_h2() }}">{{ _lbl.gift_card }}</h2>
	<div style="{{ mc.style_fontBase() }}">{{ _lbl.riferimento_tuo_ordine}}: <strong style="{{ mc.style_fontTitolo() }}">{{ codice }}</strong></div>
</div>	
<br>
	<table width="100%" cellspacing="0" cellpadding="0" border="0">
	<tbody>
	<tr>
	{{ mc.item_articolo(_h, item) }}
	</tr>
	</tbody>
	</table>
<br><br>

<p style="{{ mc.style_fontBase() }}">{{ _lblc.valore_gift_card }} <strong style="{{ mc.style_fontTitolo() }};{{ mc.style_link() }};">{{ _h.util.valuta(item.item.valore_gift, currency) }}</strong></p>
{% for codice_gift in list_codice_gift %}
<p style="{{ mc.style_fontBase() }}">{{ _lbl.codice_gift_card }}</p>
<p style="{{ mc.style_fontTitolo() }};{{ mc.style_link() }};text-align:center"><strong>{{ codice_gift }}</strong></p>
<br>
{% endfor %}
<p style="{{ mc.style_fontBase() }}">{{ _lbl.descrizione_codice_gift_card }}</p>
{% if list_destinatario and list_destinatario|length > 0 %}
<br>
<div style="{{ mc.style_fontBase() }}">{{ _lbl.descrizione_gift_card_destinatario }}
<ul>
	{% for e in list_destinatario %}
	<li><strong>{{ e.email }}</strong><br>{{ e.codice }}</li>
	{% endfor %}
</ul>
</div>
{% endif %}