{% import _h.template('manager/_macro.html') as mc %}

<div class="h-layout-content-wrapper h-layout-show-topbar h-layout-show-bottombar">
	<div class="h-layout-topbar">
		<div class="h-layout-content-wrapper">
			Filtra
		</div>
	</div>
	<form>
	<div class="h-layout-content">
		<fieldset>

<div class="h-tab">

<div data-tab-rif="base">Cerca</div>
<div data-tab-rif="azienda">Azienda/Brand</div>
{% if _h.session.params.user.accesso >= 5 %}
{% include _h.template('manager/myarea/articolo/_filtro_tabs.html') %}
{% endif %}
<div data-tab="base">
	<div class="clear field-200">
		<div class="h-checkbox-wrapper"><span class="h-checkbox" data-value="1"><input type="hidden" name="gestito" value="" /></span> <strong>Richiesta gestita</strong></div>
	</div>
	<p class="field-line field-line-left field-80">
		<label>Richiesta ins. dal:</label>
		<input type="text" name="data_inserimento_dal" class="field valida-datasimple input-datepicker" maxlength="10">
	</p>
	<p class="field-line field-line-left field-80">
		<label>Richiesta ins. al:</label>
		<input type="text" name="data_inserimento_al" class="field valida-datasimple input-datepicker" maxlength="10">
	</p>
	<div class="clear"></div>
	<p class="field-line field-line-left field-80">
		<label>Risposta dal:</label>
		<input type="text" name="data_risposta_dal" class="field valida-datasimple input-datepicker" maxlength="10">
	</p>
	<p class="field-line field-line-left field-80">
		<label>Risposta al:</label>
		<input type="text" name="data_risposta_al" class="field valida-datasimple input-datepicker" maxlength="10">
	</p>
	<div class="clear"></div>
	<br>
	<div class="clear field-200">
		<div class="h-checkbox-wrapper"><span class="h-checkbox" data-value="1"><input type="hidden" name="articolo_abilitato" value="" /></span> <strong>Articolo abilitato</strong></div>
	</div>
	<div class="clear field-200">
		<div class="h-checkbox-wrapper"><span class="h-checkbox" data-value="1"><input type="hidden" name="articolo_non_abilitato" value="" /></span> <strong>Articolo NON abilitato</strong></div>
	</div>
	<div class="clear field-200">
		<div class="h-checkbox-wrapper"><span class="h-checkbox" data-value="1"><input type="hidden" name="articolo_esaurito" value="" /></span> <strong>Articolo esaurito</strong></div>
	</div>
	<div class="clear field-200">
		<div class="h-checkbox-wrapper"><span class="h-checkbox" data-value="1"><input type="hidden" name="fasce_sconto_attive" value="" /></span> <strong>Fasce sconto attive</strong></div>
	</div>
	<p class="field-line field-200">
		<label>Filtra per parola chiave:</label>
		<input type="text" name="query" class="field" maxlength="50">
	</p>
	<p class="field-line field-200">
		<label>Filtra per codice:</label>
		<input type="text" name="codice" class="field" maxlength="50">
	</p>
	<p class="field-line field-200">
		<label>Filtra per codice fornitore:</label>
		<input type="text" name="codice_fornitore" class="field" maxlength="50">
	</p>
	{% if _h.config('gestione_magazzino', false) %}
	<p class="field-line field-75 field-line-left">
		<label>Qta. mag. da:</label>
		<input type="text" name="quantita_magazzino_da" class="field valida-digitnum" maxlength="10">
	</p>
	<p class="field-line field-75 field-line-left">
		<label>Qta. mag. a:</label>
		<input type="text" name="quantita_magazzino_a" class="field valida-digitnum" maxlength="10">
	</p>
	<div class="clear"></div>
	{% endif %}
</div>
<div data-tab="azienda">
	{{ mc.dynamicMultipleSelect(_h, 'Azienda/Brand', listAzienda, null, 'az_id') }}
</div>
</div>
		
		
		</fieldset>
	</div>
	<div class="h-layout-bottombar">
		<div class="h-layout-content-wrapper">
			<a href="javascript:void(0);" class="h-bar-button h-bar-button-blu h-action-filter" data-action='{"load": "#h-layout-center-content", "reset": "#azzera-filtro"}'>Filtra</a>
		</div>
	</div>
	</form>
</div>