{% import _h.template('manager/_macro.html') as mc %}
{% set _lbl = _h.labels.get('manager') %}
{% set lang = _h.input('lang', _h.config('default_language', 'it')) %}

{% if item == null %}
	{% set title = 'Nuova Pagina' %}
	{% set ordine = 0 %}
{% else %}
	{% set title = 'Modifica Pagina' %}
	{% set ordine = item.get('ordine', 0) %}
{% endif %}
{{ mc.slideBoxHeader(_h, title) }}
<input type="hidden" name="lang" value="{{ lang }}">
<input type="hidden" name="id" value="{{ item.id }}">
{% if sottopagina %}
<input type="hidden" name="id_pagina_padre" value="{{ _h.input('id_pagina') }}">
{% endif %}

<div class="block-tab">
<div class="block-tab-header">
	<div data-block-tab="scheda_base">Pagina</div>
	<div data-block-tab="relazioni">Relazioni</div>
	<div data-block-tab="form">Form</div>
</div>
<div data-block-tab-body="scheda_base" class="block-tab-body">

{% if edit_lang %}
<div class="edit-lang-wrapper">
{% endif %}
{{ mc.contenutiInLingua(lang) }}
<p class="field-line field-100">
	<label>Peso/posizione<span>*</span>:</label>
	<input type="text" name="ordine" class="field valida-required valida-digitnumber" value="{{ ordine }}">
</p>
<p class="field-line field-400">
	<label>Codice/ID<span>*</span>:</label>
	<input type="text" name="codice" class="field valida-required valida-digitnickname" value="{{ item.get('codice') }}">
</p>
<p class="field-line field-400">
	<label>E-Mail dove ricevere le notifiche:</label>
	<input type="text" name="e_mail_notifica" class="field valida-email" value="{{ item.get('e_mail_notifica') }}">
</p>
<p class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Titolo<span>*</span>:</label>
	<input type="text" name="titolo" class="field valida-required" value="{{ item.get('titolo') }}">
</p>
<p class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Titolo nella pagina:</label>
	<input type="text" name="titolo_pagina" class="field" value="{{ item.get('titolo_pagina') }}">
</p>
<p class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Sottotitolo:</label>
	<input type="text" name="sottotitolo" class="field" value="{{ item.get('sottotitolo') }}">
</p>
{% if listGruppo|length > 0 %}
<p class="field-line field-400">
	<label>Gruppo Pagina:</label>
	<select name="codice_gruppo" class="field">
		<option value=""></option>
		{{ mc.listComboOptions(listGruppo, item.get('codice_gruppo')) }}
	</select>
</p>	
{% endif %}
<div class="h-show-if-content">
<p class="field-line field-400">
	<label>Gestione contenuto:</label>
	<select name="contenuto_pagina" class="field h-show-if" data-action='{"map": [{"key": "0", "cont": [".contenuto_pagina"]}, {"key": "1", "cont": [".contenuto_html"]}, {"key": "2", "cont": [".contenuto_html"]}, {"key": "3", "cont": [".contenuto_template"]}]}'>
		{{ mc.listComboOptions([{'id': '0', 'text': 'Editor visuale'}, {'id': '1', 'text': 'HTML'}, {'id': '2', 'text': 'HTML in pagina dedicata slegata completamente da sito'}, {'id': '3', 'text': 'Template'}], item.get('contenuto_pagina')) }}
	</select>
</p>	
<div class="contenuto_pagina">
<div class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Testo:</label>
	{{ mc.gestione_file() }}
	<textarea name="testo" class="visual-editor visual-editor-page">{{ item.get('testo') }}</textarea>
</div>
{{ mc.upload_immagine(_h, 'Logo/immagine principale', item.imageAnteprima()) }}
{{ mc.upload_immagine(_h, 'Banner', item.imageAnteprima('s'), 'banner') }}
<p class="field-line field-200">
	<label>Posizione immagine:</label>
	<select name="posizione_immagine" class="field">
		<option value=""></option>
		{{ mc.listComboOptions([{'id': 'top', 'text': 'sopra'},{'id': 'right', 'text': 'destra'},{'id': 'bottom', 'text': 'sotto'},{'id': 'left', 'text': 'sinistra'}], item.get('posizione_immagine')) }}
	</select>
</p>
</div>
<div class="contenuto_html">
	<p class="field-line field-400 edit-lang">
		<label>{{ mc.labelLang(lang) }} HTML dedicato:</label>
		<textarea name="html" class="field" style="height: 400px;">{{ item.get('html') }}</textarea>
	</p>
</div>
<div class="contenuto_template">
	<p class="field-line field-400">
		<label>Template:</label>
		<select name="template" class="field">
			<option value=""></option>
			{% for tmpl in listTemplate %}
			<option value="{{ tmpl }}"{% if item.get('template') == tmpl %} selected="true"{% endif %}>{{ tmpl }}</option>
			{% endfor %}
		</select>
	</p>
</div>
</div>	
<p class="field-line field-400">
	<label>Sondaggio:</label>
	<select name="id_sondaggio" class="field">
	<option value=""></option>
	{% for s in listSondaggio %}
	<option value="{{ s.id }}" {% if item.get('id_sondaggio') == s.id %} selected="true"{% endif %}>{{ s.get('nome') }}</option>
	{% endfor %}
	</select>
</p>
{{ mc.labelCampiObbligatori() }}
{% if edit_lang %}
</div>
{% endif %}
</div>
<div data-block-tab-body="form" class="block-tab-body">
	<div class="h-tab">
		<div data-tab-rif="form">Form</div>
		<div data-tab-rif="email">E-Mail</div>

		<div data-tab="form">
			{{ mc.contenutiInLingua(lang) }}
			<div class="field-line field-400">
				{% if item.get('form') %} 
					{% set cssClass = ' h-checkbox-checked' %}
					{% set value = 1 %}
				{% else %}
					{% set cssClass = '' %}
					{% set value = '' %}
				{% endif %}
				<div class="h-checkbox-wrapper"><span class="h-checkbox{{ cssClass }}" data-value="1"><input type="hidden" name="form" value="{{ value }}" /></span> <strong>Visualizza form</strong></div>
			</div>

			<p class="field-line field-400">
				<label>{{ mc.labelLang(lang) }} Titolo box form:</label>
				<input type="text" name="form_titolo" class="field" value="{{ item.get('form_titolo') }}" maxlength="200">
			</p>
			<p class="field-line field-400 field-line-textarea">
				<label>{{ mc.labelLang(lang) }} Descrizione box form:</label>
				<textarea name="form_descrizione" class="field">{{ item.get('form_descrizione') }}</textarea>
			</p>
			<p class="field-line field-400">
				<label>{{ mc.labelLang(lang) }} Testo bottone invio:</label>
				<input type="text" name="form_label_pulsante" class="field" value="{{ item.get('form_label_pulsante') }}" maxlength="50">
			</p>
			<p class="field-line field-200">
				<label>{{ mc.labelLang(lang) }} ID lista klaviyo:</label>
				<input type="text" name="form_lista_id_klaviyo" class="field" value="{{ item.get('form_lista_id_klaviyo') }}" maxlength="20">
			</p>
			<p class="field-line field-400">
				<label>{{ mc.labelLang(lang) }} Titolo box form ringraziamento:</label>
				<input type="text" name="form_titolo_conferma" class="field" value="{{ item.get('form_titolo_conferma') }}" maxlength="200">
			</p>
			<p class="field-line field-400 field-line-textarea">
				<label>{{ mc.labelLang(lang) }} Descrizione box form ringraziamento:</label>
				<textarea name="form_descrizione_conferma" class="field">{{ item.get('form_descrizione_conferma') }}</textarea>
			</p>
			<br>
			<p class="field-line-text">
			<strong>Campi form presenti:</strong>
			</p>
			
			<div>
				<div class="h-nav-button-wrapper">
					<a href="javascript:void(0);" class="h-nav-button h-nav-button-click h-action-alttext h-action-add-extra-wrapper" data-alttext="nuovo parametro extra" data-action='{"params": {"content": "#elenco_parametri_extra_form"}}'>
						<img src="/assets/manager/havana-js/img/icon/ico-new.svg" align="top" />
					</a>
				</div>	
				<strong class="h-nav-button-wrapper" style="line-height: 40px;">Aggiungi parametro</strong>
			</div>
			<div class="clear"></div>
			<div id="elenco_parametri_extra_form" class="h-table-parametri-extra-wrapper">
				<textarea class="h-table-parametri-extra-template">
					<tr data-key="%id%" class="new-extra-param">
						<td class="chiave"><div class="field-line"><label></label><input type="text" class="field valida-digitalphanum valida-required" name="extra_new_chiave_%id%"></div></td>
						<td class="tipo"><div class="field-line"><label></label><select class="field" name="extra_new_tipo_%id%">
						<option value="stringa">Stringa</option>
						<option value="e-mail">E-Mail</option>
						<option value="data">Data</option>
						<option value="testo">Testo</option>
						<option value="lista">Lista</option>
						<option value="newsletter">Newsletter</option>
						<option value="checkbox">Checkbox</option>
						<option value="file">File</option>
						</select></div></td>
						<td class="label"><div class="field-line"><label></label><input type="text" class="field valida-required" name="extra_new_label_%id%"></div></td>
						<td class="valore"><div class="field-line"><input type="text" class="field" name="extra_new_valore_%id%"></div></td>
						<td class="obbligatorio">
						{{ mc.checkbox('', 1, 'extra_new_required_%id%', '') }}
						</td>
						<td class="azione">
							<div class="h-nav-button-wrapper">
								<a href="javascript:void(0);" class="h-nav-button h-nav-button-click h-action-rem-extra-wrapper">
									<img src="/assets/manager/havana-js/img/icon/ico-delete.svg" align="top" />
								</a>
							</div>
						</td>
					</tr>
				</textarea>
				<input type="hidden" name="parametri_extra" value="{{ item.parametriExtra('form_').keys }}">
				<input type="hidden" name="parametri_extra_new" value="">
				<table class="h-table-parametri-extra form" border="0" cellspacing="0" cellpadding="0">
					<thead>
					<tr>
						<th class="chiave">Chiave <span class="required">*</span></th>
						<th class="tipo">Tipo <span class="required">*</span></th>
						<th class="label">Label {{ mc.labelLang(lang) }} <span class="required">*</span></th>
						<th class="valore">Valore {{ mc.labelLang(lang) }}</th>
						<th class="obbligatorio">Obbl.</th>
						<th class="azione"></th>
					</tr>
					</thead>
					<tbody>
					{% for k in item.parametriExtra('form_').list %}
					<tr data-key="{{k}}">
						<td class="chiave"><div class="chiave-details">{{k}}</div></td>
						<td class="tipo"><div class="field-line"><label></label><select class="field" name="extra_tipo_{{k}}">
						<option value="stringa"{% if item.get('extra_tipo_' ~ k) == 'stringa' %} selected{% endif %}>Stringa</option>
						<option value="e-mail"{% if item.get('extra_tipo_' ~ k) == 'e-mail' %} selected{% endif %}>E-Mail</option>
						<option value="data"{% if item.get('extra_tipo_' ~ k) == 'data' %} selected{% endif %}>Data</option>
						<option value="testo"{% if item.get('extra_tipo_' ~ k) == 'testo' %} selected{% endif %}>Testo</option>
						<option value="lista"{% if item.get('extra_tipo_' ~ k) == 'lista' %} selected{% endif %}>Lista</option>
						<option value="newsletter"{% if item.get('extra_tipo_' ~ k) == 'newsletter' %} selected{% endif %}>Newsletter</option>
						<option value="checkbox"{% if item.get('extra_tipo_' ~ k) == 'checkbox' %} selected{% endif %}>Checkbox</option>
						<option value="file"{% if item.get('extra_tipo_' ~ k) == 'file' %} selected{% endif %}>File</option>
						</select></div></td>
						<td class="label"><div class="field-line"><label></label><input type="text" class="field valida-required" name="extra_label_{{k}}" value="{{ item.get('extra_label_' ~ k) }}"></div></td>
						<td class="valore"><div class="field-line"><input type="text" class="field" name="extra_valore_{{k}}" value="{{ item.get('extra_valore_' ~ k) }}"></div></td>
						<td class="obbligatorio">
						{{ mc.checkbox(item.get('extra_required_' ~ k), 1, 'extra_required_' ~ k, '') }}
						</td>
						<td class="azione">
							<div class="h-nav-button-wrapper">
								<a href="javascript:void(0);" class="h-nav-button h-nav-button-click h-action-rem-extra-wrapper">
									<img src="/assets/manager/havana-js/img/icon/ico-delete.svg" align="top" />
								</a>
							</div>
						</td>
					</tr>
					{% endfor %}
					</tbody>
				</table>
				<br>
				<em>In caso di tipo "lista", nel campo "valore" inserire le opzioni separate da una virgola</em>
				<br><br>
				<em>Utilizzare la chiave "email" per il campo che sarà considerato come indirizzo di posta elettronica dell'utente a cui inviare l'e-mail</em>
			</div>
		</div>
		<div data-tab="email">
			{{ mc.contenutiInLingua(lang) }}
			<p class="field-line field-400">
				<label>{{ mc.labelLang(lang) }} Oggetto:</label>
				<input type="text" name="e_mail_oggetto" class="field" value="{{ item.get('form_titolo') }}">
			</p>
			<div class="field-line field-400">
				<label>{{ mc.labelLang(lang) }} Testo:</label>
				<textarea name="e_mail_testo" class="visual-editor">{{ item.get('e_mail_testo') }}</textarea>
			</div>
			<div style="margin-top: 5px;"><em>è possibile inserire all'interno del testo della e-mail i riferimenti ai campi compilati dall'utente secondo la seguente logica: nome del campo racchiuso tra doppie parentesi graffe. Ad esempio {{ '{{' }}nome_campo{{ '}}' }}</em></div>
			<div style="margin-top: 10px"><em>Campi disponibili: </em> 
			{% for key in list_key %}
			{{ key }}
			{% endfor %}
			</div>
		</div>
	</div>
</div>

<div data-block-tab-body="relazioni" class="block-tab-body">

	<div class="h-tab">
		<div data-tab-rif="articoli">Articoli</div>
		<div data-tab-rif="categoria">Categoria</div>
		<div data-tab-rif="brand">{{ _lbl.azienda_brand }}</div>

		<div data-tab="articoli">
			<p class="field-line field-400">
				<label>Cerca e aggiungi articolo:</label>
				<input type="hidden" name="relazione_id" value="">
				<input type="text" name="relazione_nome" class="field autocomplete" value="" data-action='{"url": "{{ _h.url('manager/myarea/articolo/list-autocomplete') }}", "add_item_to": "#elenco_articoli", "add_item_id": "$id_articolo", "load_item_id": {% if item %}[{{ item.get('$id_articolo', [])|join(',') }}]{% else %}null{% endif %}}'>
			</p>
			<br><br>
			Articoli selezionati:
			<div id="elenco_articoli">
			</div>
		</div>
		<div data-tab="categoria">
		{{ mc.dynamicOnlyOneMultipleTreeSelect(_h, 'Categoria', listCategoria, item, '$id_categoria') }}
		</div>
		<div data-tab="brand">
		{{ mc.dynamicMultipleSelect(_h, _lbl.azienda_brand, listAzienda, item, '$id_azienda') }}
		</div>	
	</div>	
</div>

</div>

{% if sottopagina %}
{{ mc.slideBoxFooter(_h, _h.url('manager/myarea/pagina/ex-edit'), '"reload": "#pagina-content"') }}	
{% else %}
{{ mc.slideBoxFooter(_h, _h.url('manager/myarea/pagina/ex-edit')) }}	
{% endif %}