{% import _h.template('_macro.html') as mc %}

{% if testo %}
	<div class="html clear">{{ testo.getWithMerge('testo') }}</div>
{% endif %}

<div class="checkout-main clear" data-page="1">
{% set _lblc = _h.labels.get('checkout') %}
{% set _lblf = _h.labels.get('form') %}


{% if _h.session.params.user.tipo == 'agente' or _h.session.params.user.speciale %}
	{% if _h.config('gestione_agenti_ordine_email', false) and _h.session.params.user.tipo == 'agente' %}
	<div class="col-box-50 tab-selected">
	{% else %}
	<div class="col-box-100 tab-selected">
	{% endif %}
		{% if _h.session.params.user.tipo == 'agente' %}
		<div class="tab-title"><span>{{ _lblc.agente_cliente_di_riferimento }}</span></div>
		<div class="tab-content clear">
			{% if _h.config('gestione_agenti_ordine_email', false) %}
			<form class="box-login">
			{% else %}
			<form class="checkout-margin">
			{% endif %}
				<h2><span>{{ _lblc.agente_cliente_di_riferimento }}</span></h2>
				<div class="field-text field-text-header">
				{{ _lblc.descr_agente_cliente_di_riferimento }}
				</div>
				<div class="form-error-message"></div>
				<div class="field-line">
					<div class="field">
						<label>{{ _lblf.field_cliente }}</label>
						<select name="id_cliente_agente" class="valida-required h-field-combo">
						<option value=""></option>
						{% for cliente in list_clienti %}
						<option value="{{ cliente.id }}"{% if id_cliente_agente == cliente.id %} selected="true"{% endif %}>#{{ cliente.id }} - {{ cliente.get('nome') }} {{ cliente.get('cognome') }}</option>
						{% endfor %}		
						</select>
					</div>
				</div>
				{{ mc.google_recaptcha(_h, 'checkout_start') }}		
				<div class="field-button field-button-right">
					<a class="button-next action-next-page" href="javascript:void(0)" title="{{ _lblc.btn_procedi_con_acquisto_step_1 }}"><span>{{ _lblc.btn_procedi_con_acquisto_step_1 }}</span></a>
				</div>
			</form>
		</div>
		{% endif %}
		{% if _h.config('gestione_agenti_ordine_email', false) and _h.session.params.user.tipo == 'agente' %}
		</div>
		<div class="col-box-50">
		{% endif %}
		{% if _h.config('gestione_agenti_ordine_email', false) or _h.session.params.user.speciale %}
			<div class="tab-title"><span>{{ _lblc.email_riferimento }}</span></div>
			<div class="tab-content clear">
			<form class="box-login">
				<h2><span>{{ _lblc.email_riferimento }}</span></h2>
				<input type="hidden" name="invia_solo_email" value="1">
				<div class="field-text field-text-header">
				{{ _lblc.descr_agente_cliente_email_di_riferimento }}
				</div>
				<div class="form-error-message"></div>
				<div class="field-line">
					<div class="field">
						<label>{{ _lblf.field_email }}</label>
						<input type="text" name="e_mail" class="valida-required valida-email" value="">
					</div>
				</div>
				{{ mc.google_recaptcha(_h, 'checkout_start') }}						
				<div class="field-button field-button-right">
					<a class="button-next button-next-cart action-next-page" href="javascript:void(0)" title="{{ _lblc.btn_procedi_con_acquisto_step_1 }}"><span>{{ _lblc.btn_procedi_con_acquisto_step_1 }}</span></a>
				</div>
			</form>
			</div>
		{% endif %}
	</div>
{% else %}
{% if e_mail %}
	<div class="col-box-100 tab-selected">
		<div class="tab-title"><span>{{ _lblc.email_riferimento }}</span></div>
		<div class="tab-content clear">
		<form class="checkout-margin">
			<h2><span>{{ _lblc.email_riferimento }}</span></h2>
			<div class="field-text field-text-header">
			{{ _lblc.descr_email_riferimento }}
			</div>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>{{ _lblf.field_email }}</label>
					<input type="text" name="e_mail" class="valida-required valida-email" value="{{ e_mail }}">
				</div>
			</div>
			{{ mc.google_recaptcha(_h, 'checkout_start') }}		
			<div class="field-button field-button-right">
				<a class="button-next button-next-cart action-next-page" onclick="_ga('send', 'event', 'checkout', 'fase1', 'checkout_fase1_procedi_con_email')" href="javascript:void(0)" title="{{ _lblc.btn_procedi_con_acquisto_step_1 }}"><span>{{ _lblc.btn_procedi_con_acquisto_step_1 }}</span></a>
			</div>
		</form>
		</div>
	</div>
{% else %}
{% if _h.settings.get('acquisto_solo_con_login') == '' %}
	<div class="col-box-50 tab-selected">
		<div class="tab-title"><span>{{ _lblc.title_procedi_con_registrazione }}</span></div>
		<div class="tab-content clear">
		<h2><span>{{ _lblc.title_procedi_con_registrazione }}</span></h2>

		<form class="box-login">
			<fieldset class="fieldset-box">
				<div class="field-text field-text-header">
				{{ _lblc.descr_procedi_con_registrazione_1 }}
				</div>
				<div class="form-error-message"></div>
				<div class="field-line">
					<div class="field">
						<label>{{ _lblf.field_email }}</label>
						<input type="text" name="e_mail" class="valida-required valida-email">
					</div>
				</div>
				{% if _h.settings.get('testo_privacy_checkout_senza_registrazione', '') != '' %}
				<div class="field-line-checkbox">
					{% if _h.settings.get('testo_privacy_visibile_in_box', '') != '' %}
					<div class="riquadro-testo-policy" data-contratto="privacy"></div>
					{% endif %}
					<div class="field-checkbox-description">
						{{ _lblf.descr_dichiarazione_letto_privacy }} <a href="{{ mapPagine.privacy.url }}" title="{{ _lblf.alt_btn_ulteriori_informazioni_privacy }}" target="_blank">{{ _lblf.btn_ulteriori_informazioni_privacy }}</a>
					</div>
					<div class="field-checkbox-check-acconsento clear checkbox-group">
						<div class="field-checkbox-check">
							<span class="checkbox" data-value="1"><input type="hidden" name="no_accetto_privacy" value="1"></span>
							<span class="checkbox-label"><span>{{ _lblf.btn_non_acconsento }}</span></span>
						</div>
						<div class="field-checkbox-check">
							<span class="checkbox" data-value="1"><input type="hidden" name="accetto_privacy" value=""></span>
							<span class="checkbox-label"><span>{{ _lblf.btn_acconsento_uso_dati }}</span></span>
						</div>
					</div>
				</div>
				{% else %}
				<div class="field-line field-line-void">&nbsp;</div>
				{% endif %}
				{{ mc.google_recaptcha(_h, 'checkout_start') }}		
				<div class="field-button field-button-right">
					<a class="button-next button-next-cart action-next-page" onclick="_ga('send', 'event', 'checkout', 'fase1', 'checkout_fase1_procedi_con_email')" href="javascript:void(0)" title="{{ _lblc.btn_procedi_con_acquisto_step_1 }}"><span>{{ _lblc.btn_procedi_con_acquisto_step_1 }}</span></a>
				</div>
				<div class="field-text">
				
				</div>
			</fieldset>
		</form>
		</div>
	</div>
	<div class="col-box-50">
{% else %}
<div class="col-box-100 tab-selected">
{% endif %}
	<div class="tab-title"><span>{{ _lblc.title_utente_registrato }}</span></div>
	<div class="tab-content clear">
	<h2><span>{{ _lblc.title_utente_registrato }}</span></h2>

	<form class="box-login">
		<fieldset class="fieldset-box">		
			<input type="hidden" name="checkout" value="1">
			<div class="field-text field-text-header">
				{{ _lblc.descr_utente_registrato_1 }}<br>
				<strong>{{ _lblc.descr_utente_registrato_2 }}:</strong>
			</div>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>{{ _lblf.field_email }}</label>
					<input type="text" name="e_mail" class="valida-required valida-email">
				</div>
			</div>
			<div class="field-line">
				<div class="field">
					<label>{{ _lblf.field_password }}</label>
					<input type="password" name="password" class="valida-required action-show-password">
				</div>
			</div>
			<div class="field-text">
				<a href="{{ _h.url('account/recupero-password') }}" class="link" title="{{ _lblf.alt_btn_dimenticato_password }}">{{ _lblf.btn_dimenticato_password }}</a>
			</div>
			{{ mc.google_recaptcha(_h, 'login') }}		
			<div class="field-button field-button-right">
				<a class="button-next submit-form" onclick="_ga('send', 'event', 'checkout', 'fase1', 'checkout_fase1_entra')" href="javascript:void(0)" title="{{ _lblf.btn_entra }}" data-action='{"url": "{{ _h.url('account/ex-login') }}"}'><span>{{ _lblf.btn_entra }}</span></a>
			</div>
			<div class="field-text">&nbsp;</div>
			<div class="field-text">
				<strong><a href="{{ _h.url('account/registrazione') }}?checkout=1" class="link bottone-registrati" title="{{ _lblf.btn_registrati }} {{ _h.settings.get('staff_indirizzo') }}">{{ _lblf.btn_registrati }}</a></strong>
			</div>
			{% if _h.settings.get('disabilita_registrazione_tramite_social', '') == '' %}
			<div class="field-text">
				<strong>{{ _lblc.descr_utente_registrato_3 }}:</strong>
			</div>
			<div class="field-button-social">
				<a class="button-red button button-facebook" onclick="_ga('send', 'event', 'checkout', 'fase1', 'checkout_fase1_accedi_con_facebook')" href="{{ _h.url('account/login-facebook') }}?checkout=1" title="{{ _lblc.btn_accedi_facebook }}">{{ _lblc.btn_accedi_facebook }}</a>
			</div>
			{% endif %}
		</fieldset>
	</form>
	</div>
</div>
{% endif %}
{% endif %}

	{% if not(_h.context.isApp()) %}
	{% include _h.template('cart/checkout/block/_faq.html') %}
	{% endif %}
</div>
{% if not(_h.context.isApp()) %}
<div class="checkout-footer clear">
<a href="{{ _h.config('url_home_store', _h.url('/') )}}" title="{{ _lblc.btn_continua_shopping }}" class="button-prev">{{ _lblc.btn_continua_shopping }}</a>
</div>
{% endif %}