{% set _lbl = _h.labels.get('page_must') %}
			</div>
		</div>

<div class="must">
<div class="container-fluid">
	
	<div class="row">

		<div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_01.jpg');">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="c-content-overlay">
						<div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="product c-content-overlay">
						<div class="c-overlay-wrapper" style="padding: 0 10%;">
							<div class="c-overlay-content">
								<h3>
									<span>{{ _lbl.titolo_1 }}</span>
								</h3>
								 <p></p><p>{{ _lbl.descrizione_1 }}</p><p></p>
							</div>
						</div>
						<div class="c-overlay-object" style="height: 400px;"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_02.jpg');">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="c-content-overlay">
						<div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
					</div>
				</div>

				<div class="col-md-6 col-sm-6">
					<div class="product c-content-overlay">
						<div class="c-overlay-wrapper" style="padding: 0 10%;">
							<div class="c-overlay-content">
								<h3>
									<span>{{ _lbl.titolo_2 }}</span>
								</h3>
								 <p></p><p>{{ _lbl.descrizione_2 }}</p><p></p>
							</div>
							</div>
							<div class="c-overlay-object" style="height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>

			<div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_03.jpg');">
				<div class="row">
					<div class="col-md-6 col-sm-6">
						<div class="c-content-overlay">
							<div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6">
						<div class="product c-content-overlay">
							<div class="c-overlay-wrapper" style="padding: 0 10%;">
								<div class="c-overlay-content">
									<h3>
										<span>{{ _lbl.titolo_3 }}</span>
									</h3>
									 <p></p><p>{{ _lbl.descrizione_3 }}</p><p></p>
								</div>
							</div>
							<div class="c-overlay-object" style="height: 400px;"></div>
						</div>
					</div>
				</div>
			</div>

            <div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_04.jpg');">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="c-content-overlay">
                            <div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="product c-content-overlay">
                            <div class="c-overlay-wrapper" style="padding: 0 10%;">
                                <div class="c-overlay-content">
                                    <h3>
                                        <span>{{ _lbl.titolo_4 }}</span>
                                    </h3>
                                     <p></p><p>{{ _lbl.descrizione_4 }}</p><p></p>
                                </div>
                            </div>
                            <div class="c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                </div>

            </div>

        

            <div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_05.jpg');">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="c-content-overlay">
                            <div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="product c-content-overlay">
                            <div class="c-overlay-wrapper" style="padding: 0 10%;">
                                <div class="c-overlay-content">
                                    <h3>
                                        <span>{{ _lbl.titolo_5 }}</span>
                                    </h3>
                                    <p></p><p>{{ _lbl.descrizione_5 }}</p><p></p>
                                </div>
                            </div>
                            <div class="c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                </div>

            </div>

        

            <div class="obj col-md-6 col-sm-6" style="background-image: url('/assets/website/img/must_06.jpg');">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="c-content-overlay">
                            <div class="c-bg-img-center c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6">
                        <div class="product c-content-overlay">
                            <div class="c-overlay-wrapper" style="padding: 0 10%;">
                                <div class="c-overlay-content">
                                    <h3>
                                        <span>{{ _lbl.titolo_6 }}</span>
                                    </h3>
                                    <p></p><p>{{ _lbl.descrizione_6 }}</p><p></p>
                                </div>
                            </div>
                            <div class="c-overlay-object" style="height: 400px;"></div>
                        </div>
                    </div>

                </div>

            </div>

        

    </div>



</div>
</div>


		<div id="middle" class="web content" style="padding-top: 0">
			<div class="inner-middle content" style="margin-bottom: 0">