{% set _lbl = _h.labels.get('page_perche_easydive') %}
	<div class="container-perche">
	<div class="content-perche">

		<ul>
			<li>
				<div class="card right fadeInLeft">
					<i class="float-right"></i>
					<div class="content-perche content-perche-right">
						<h3>{{ _lbl.titolo_1 }}</h3>
						<p>{{ _lbl.descrizione_1 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>

			<div class="vdiv"></div>
			
			<li>
				<div class="card fadeInRight">
					<i class="float-left"></i>
					<div class="content-perche content-left">
						<h3>{{ _lbl.titolo_2 }}</h3>
						<p>{{ _lbl.descrizione_2 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="card right fadeInLeft">
					<i class="float-right"></i>
					<div class="content-perche content-perche-right">
						<h3>{{ _lbl.titolo_3 }}</h3>
						<p>{{ _lbl.descrizione_3 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
			
			<div class="vdiv"></div>

			<li>
				<div class="card fadeInRight">
					<i class="float-left"></i>
					<div class="content-perche content-left">
						<h3>{{ _lbl.titolo_4 }}</h3>
						<p>{{ _lbl.descrizione_4 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="card right fadeInLeft">
					<i class="float-right"></i>
					<div class="content-perche content-perche-right">
						<h3>{{ _lbl.titolo_5 }}</h3>
						<p>{{ _lbl.descrizione_5 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
			
			<div class="vdiv"></div>

			<li>
				<div class="card fadeInRight">
					<i class="float-left"></i>
					<div class="content-perche content-left">
						<h3>{{ _lbl.titolo_6 }}</h3>
						<p>{{ _lbl.descrizione_6 }}</p>
					</div>
				</div>
				
				<div class="hdiv"></div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="card right fadeInLeft">
					<i class="float-right"></i>
					<div class="content-perche content-perche-right">
						<h3>{{ _lbl.titolo_7 }}</h3>
						<p>{{ _lbl.descrizione_7 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>

			<div class="vdiv"></div>

			<li>
				<div class="card fadeInRight">
					<i class="float-left"></i>
					<div class="content-perche content-left">
						<h3>{{ _lbl.titolo_8 }}</h3>
						<p>{{ _lbl.descrizione_8 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
		</ul>

		<ul>
			<li>
				<div class="card right fadeInLeft">
					<i class="float-right"></i>
					<div class="content-perche content-perche-right">
						<h3>{{ _lbl.titolo_9 }}</h3>
						<p>{{ _lbl.descrizione_9 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>

			<div class="vdiv"></div>
			
			<li>
				<div class="card fadeInRight">
					<i class="float-left"></i>
					<div class="content-perche content-left">
						<h3>{{ _lbl.titolo_10 }}</h3>
						<p>{{ _lbl.descrizione_10 }}</p>
					</div>
				</div>
				<div class="hdiv"></div>
			</li>
		</ul>
	</div>
	</div>