{% import _h.template('_macro.html') as mc %}
{% set _lblw = _h.labels.get('website') %}

{% macro field(_h, item, key) %}
	{% set _lblw = _h.labels.get('website') %}
	{% set keyf = 'form_field_' ~ key %}
	{% if item.get('extra_tipo_' ~ key) %}
	{% set required = keyf ~ '_required' %}
	{% if item.get('extra_tipo_' ~ key) == 'file' %}
		<div class="field-line-file">
	{% else %}
		<div class="field-line{% if item.get('extra_tipo_' ~ key) == 'testo' %} field-line-textarea{% endif %}">
	{% endif %}
	{% if item.get('extra_tipo_' ~ key) == 'checkbox' %}
	<div class="field-line-checkbox field-text-obbligatori" style="padding: 0;">
		<div>
			<span class="checkbox" data-value="{{item.get('extra_valore_' ~ key, 1)}}"><input type="hidden" name="{{ keyf }}" value=""></span>
			<span class="checkbox-label"><span>{{ item.get('extra_label_' ~ key) }}</span></span>
		</div>
	</div>
	{% else %}
	<div class="{% if item.get('extra_tipo_' ~ key) == 'file' %}field-file{% else %}field{% endif %}">
		<label>{{ item.get('extra_label_' ~ key) }}{% if item.get('extra_required_' ~ key) %} <span>*</span>{% endif %}</label>
		{% set valida = '' %}
		{% if item.get('extra_tipo_' ~ key) == 'e-mail' %}
			{% set valida = ' valida-email' %}
		{% elseif item.get('extra_tipo_' ~ key) == 'data' %}
			{% set valida = ' input-datepicker valida-datasimple' %}
		{% endif %}
		{% if item.get('extra_tipo_' ~ key) == 'file' %}
			<input type="hidden" name="{{ keyf }}" class="field-file{% if item.get('extra_required_' ~ key) %} valida-required{% endif %}" value="">
			<input type="hidden" name="{{ keyf }}_name" class="field-file-name">
			<div class="field-anteprima"></div>
			<div class="field-button">
				<a class="action-upload-file" data-action='{"url": "/upload-temp-file"}'>{{ _lblw.carica_file }}</a>
				<a class="action-upload-file-reset">{{ _lblw.cancella_file }}</a>
			</div>
		{% elseif item.get('extra_tipo_' ~ key) == 'testo' %}
			<textarea name="{{ keyf }}" class="{% if item.get('extra_required_' ~ key) %}valida-required{% endif %}{{ valida }}">{{item.get('extra_valore_' ~ key)}}</textarea>
		{% elseif item.get('extra_tipo_' ~ key) == 'lista' or item.get('extra_tipo_' ~ key) == 'newsletter' %}
			<select name="{{ keyf }}" class="{% if item.get('extra_required_' ~ key) %}valida-required{% endif %}">
			<option></option>
			{% set list_valore = item.get('extra_valore_' ~ key)|split(',') %}
			{% for v in list_valore %}
			<option value="{{v}}">
				{% if  item.get('extra_tipo_' ~ key) == 'newsletter' %}
					{% set v = v|split('::')[0] %}
				{% endif %}
				{{v}}
			</option>
			{% endfor %}
			</select>
		{% else %}
		<input type="text" name="{{ keyf }}" class="{% if item.get('extra_required_' ~ key) %}valida-required{% endif %}{{ valida }}" value="{{item.get('extra_valore_' ~ key)}}" {% if item.get('extra_tipo_' ~ key) == 'data' %}maxlength="10" data-date-viewmode="years" data-date-minviewmode="days" {% endif %}>
		{% endif %}
	</div>
	{% endif %}
</div>
{% endif %}
{% endmacro %}

<form class="block-info hide-no-scroll" id="form_landing_page">
	<input type="hidden" name="id" value="{{ item.id }}">
	<input type="hidden" name="codice" value="{{ item.get('codice') }}">
	<div class="field-text">
		{% if item.get('form_titolo')  %}
		<strong>{{ item.get('form_titolo') }}</strong>
		{% endif %}
	</div>
	{% if item.get('form_descrizione')  %}
	<p>{{ item.get('form_descrizione') }}</p>
	{% endif %}
	<div class="form-error-message"></div>
	{% set list_key = item.parametriExtra('form_').list %}
	{% set is_upload_file = false %}
	{% for key in list_key %}
		{{ _self.field(_h, item, key) }}
		{% if item.get('extra_tipo_' ~ key) == 'file' %}
			{% set is_upload_file = true %}
		{% endif %}
	{% endfor %}	
	
	{% if is_upload_file %}
		<script type="text/javascript" src="/assets/manager/havana-js/js/plugin/jquery.ui.widget.js?b=83-1"></script>
		<script type="text/javascript" src="/assets/manager/havana-js/js/plugin/jquery.fileupload.js?b=83-1"></script>
		<script type="text/javascript" src="/assets/manager/havana-js/js/plugin/jquery.iframe-transport.js?b=83-1"></script>
	{% endif %}
	<div class="field-line-checkbox field-text-obbligatori" style="padding: 0;">
		<div>
			{{ _lblw.dichiarazione_letto_informativa }} <a href="{{ mapPagine.privacy.url }}" title="{{ _lblw.informativa_privacy }}" target="_blank">{{ _lblw.informativa_privacy }}</a>.
		</div>
		<div>
			<span class="checkbox" data-value="1"><input type="hidden" name="accetto_privacy" value=""></span>
			<span class="checkbox-label"><span>{{ _lblw.acconsento }}</span></span>
		</div>
	</div>
	{{ mc.google_recaptcha(_h, 'scrivi') }}
	<div class="field-button field-button-left">
		{% if item.get('form_conferma_pagina_esterna') %}
		<a class="button-red button submit-form" href="javascript:void(0)" title="{{ item.get('form_label_pulsante') }}" data-action='{"url": "{{ _h.url(url_scrivi) }}", "onComplete": {"type": "url", "url": "{{ _h.xurl('landingpage-thanks') }}/{{ codice }}", "event": "{{ item.get('js_on_complete_event') }}"}}'><span>{{ item.get('form_label_pulsante') }}</span></a>
		{% else %}
		<a class="button-red button submit-form" href="javascript:void(0)" title="{{ item.get('form_label_pulsante') }}" data-action='{"url": "{{ _h.url(url_scrivi) }}", "onComplete": {"type": "show", "show": "#conferma_form_landing_page", "hide": "#form_landing_page", "event": "{{ item.get('js_on_complete_event') }}"}}'><span>{{ item.get('form_label_pulsante') }}</span></a>
		{% endif %}
	</div>
</form>

{% if not(item.get('form_conferma_pagina_esterna')) %}
<div id="conferma_form_landing_page" class="hide-block">
	<div class="hide-block-title">{{ item.get('form_titolo_conferma') }}</div>
	<p>{{ item.get('form_descrizione_conferma') }}</p>
</div>
{% endif %}