<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">

{% macro list(_h, list, priority, freq) %}
{% for item in list %}
	<url>
		<loc>{{ _h.webAppUrl }}{{ item.url }}</loc>
		<changefreq>{{ freq }}</changefreq>
		<priority>{{ priority }}</priority>
	</url>
{% endfor %}
{% endmacro %}	

{{ _self.list(_h, list, '0.5', 'weekly') }}
</urlset>