{% import _h.template('manager/_macro.html') as mc %}

{{ mc.slideBoxHeader(_h, 'Modifica costi spedizione') }}
<input type="hidden" name="id_nazione" value="{{ _h.input('id_nazione') }}">


<div class="h-tab">

<div data-tab-rif="parametri">Parametri</div>

{% for key,label in listCorrieri %}
	<div data-tab-rif="{{ key }}">{{ label }}</div>
	<div data-tab="{{ key }}">
		{% set list = listCostiSpedizione[key] %}
		{% for type in list %}
		<p class="field-line field-100">
			<label>{{ type.label }}:</label>
			<input type="text" name="{{ type.id }}" class="field valida-euro" value="{{ item.euro(type.id) }}"> {{ _h.config('manager_valuta', '&euro;') }}
		</p>
		{% endfor %}
	</div>
{% endfor %}

<div data-tab="parametri">
<p class="field-line">Le impostazioni saranno applicate a tutti CAP</p>
<p class="field-line field-100">
	<label>Spedizione gratuita a partire da acquisto da:</label>
	<input type="text" name="spedizione_gratuita" class="field valida-euro" value="0"> {{ _h.config('manager_valuta', '&euro;') }}
</p>
</div>
</div>
{{ mc.slideBoxFooter(_h, _h.url('manager/myarea/nazione/cap/ex-edit-spedizioni'), '"reload": "#nazione-content"') }}	
