<table class="h-list" cellpadding="0" cellspacing="0" border="0">
<thead>
<tr class="h-list-header">
	<th style="width: 20px;">&nbsp;</th>
	<th style="width: 16px;">&nbsp;</th>
	<th style="width: 16px;">&nbsp;</th>
	<th style="width: 100px;">Data</th>
	<th style="width: 150px;">Utente</th>
	<th>Dettaglio</th>
</tr>
</thead>
<tbody>
{% for elem in list %}
	<tr>
		<td class="td-checkbox"><span class="h-checkbox" data-value="{{ elem.id }}"><input type="hidden" name="id[]" value="" /></span></td>
		<td>
		{% if elem.get('stato') == 1 %}
			<img src="/assets/manager/havana-js/img/icon/ico-alert.svg" class="h-action-alttext h-action-selected-execute" data-action='{"confirm": "Impostare come gestita la problematica?", "url": "{{ _h.url('manager/myarea/cliente/log/ex-gestito') }}", "params": {"id": "{{ elem.get('id_cliente') }}_{{ elem.id }}"}, "reload": ["#log-content", "#h-layout-center-content"]}' data-alttext="da gestire" style="cursor: pointer">
		{% elseif elem.get('stato') == 2 %}
			<img src="/assets/manager/havana-js/img/icon/ico-confirm.svg" class="h-action-alttext" data-alttext="gestito">
		{% else %}
			&nbsp;
		{% endif %}
		</td>
		<td>
		{% if elem.get('visibile_cliente') == 1 %}
			<img src="/assets/manager/havana-js/img/icon/ico-user.svg" class="h-action-alttext" data-alttext="visibile al cliente">
		{% else %}
			&nbsp;
		{% endif %}
		</td>
		<td>{{ elem.getDateTime('data_inserimento') }}</td>
		<td>{{ elem.get('utente') }}
			{% if elem.get('mittente') == 1 %}
			<span class="link h-action-window" data-action='{"type": "layer", "url": "{{ _h.url('manager/myarea/cliente/log/edit-risposta') }}", "overlay": true, "width": 500, "height": 300, "params": {"id": "{{ elem.get('id_cliente') }}"}}'>[rispondi]</span>
			{% endif %}
		</td>
		<td>
		{% if elem.get('azione') %}
			<em>{{ elem.get('azione') }}</em>{% if elem.get('testo') %}:{% endif%}
		{% endif %}
		{{ elem.get('testo') }}
		</td>
	</tr>
{% endfor %}
</tbody>
</table>