{% set _lblw = _h.labels.get('website') %}
<div class="header clear">
	<div class="header-logo">
		<img src="{{ _h.view('html_to_pdf_www_path') }}/assets/website/img/logo-fattura.png" alt="easydive" style="width: 250px">
	</div>
	<div class="header-dati">
		<strong>Easydive</strong>
		<p>Via Dell'Industria 13 int.6</p>
		<p>48015 Cervia (RA)</p>
		<p>P.IVA IT03130020401</p>
	</div>
	<div class="header-dati">
		<p>Tel. +39 0544 962923</p>
		<p>Whatsapp. +39 338 9994219</p>
		<p>e-mail: info@easydive.it</p>
		<p><b>www.easydive.it</b></p>
	</div>
</div>
<br><br>