<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="
            http://www.sitemaps.org/schemas/sitemap/0.9
            http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
	<url>
		<loc>{{ _h.webAppUrl }}</loc>
		<changefreq>daily</changefreq>
		<priority>1.0000</priority>
	</url>
	
{% macro list(_h, list, priority, freq) %}
{% for item in list %}
	{% if item.url %}
	<url>
		<loc>{{ _h.webAppUrl }}{{ item.url }}</loc>
		{% if item.is('data_modifica') %}
		<lastmod>{{ item.getDateFormat('data_modifica', 'Y-m-d') }}</lastmod>
		{% endif %}
		<changefreq>{{ freq }}</changefreq>
		<priority>{{ priority }}</priority>
	</url>
	{% endif %}
{% endfor %}
{% endmacro %}	

{{ _self.list(_h, listCategoriaBlog, '0.8', 'daily') }}
{{ _self.list(_h, listCategoria, '0.8', 'daily') }}
{{ _self.list(_h, listBlog, '0.6', 'monthly') }}
{{ _self.list(_h, listArticoli, '0.4', 'monthly') }}
	<url>
		<loc>{{ _h.webAppUrl }}{{ _h.xurl('ambassador') }}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.1</priority>
	</url>
	<url>
		<loc>{{ _h.webAppUrl }}{{ _h.xurl('easydive-point')}}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.1</priority>
	</url>	
	<url>
		<loc>{{ _h.webAppUrl }}/info/faq</loc>
		<changefreq>monthly</changefreq>
		<priority>0.1</priority>
	</url>
	<url>
		<loc>{{ _h.webAppUrl }}{{ _h.url('servizio-clienti') }}</loc>
		<changefreq>monthly</changefreq>
		<priority>0.1</priority>
	</url>
</urlset>