{% import _h.template('manager/_macro.html') as mc %}

{{ mc.slideBoxHeader(_h, 'Test azione carrello') }}
<input type="hidden" name="id" value="{{ _h.input('id') }}">
<p class="field-line field-300">
	<label>Seleziona azione<span>*</span>:</label>
	<select name="azione" class="field valida-required">
	<option></option>
	{% for item in list %}
	<option value="{{ item.id }}">{{ item.id }} ore {% if item.get('tipo', 0) == 1 %}invia e-mail{% elseif item.get('tipo', 0) == 2 %}invia buono sconto{% else %}elimina{% endif %}</option>
	{% endfor %}
	</select>
</p>

<div class="message-center-block" data-message-center="{{ _h.util.messageCenter('ordine_abbandonato') }}">
<div class="message-center-block-expandible" data-type="email">
	<div class="message-center-block-expandible-title">Test E-Mail</div>
	<div class="message-center-block-expandible-body">
		<div class="field-line field-300">
			<label>E-Mail destinatario test<span>*</span>:</label>
			<input type="text" name="e_mail" class="field valida-email" value="" maxlength="100">
		</div>
	</div>
</div>
<div class="message-center-block-expandible" data-type="wapp">
	<div class="message-center-block-expandible-title">Test WhatsApp</div>
	<div class="message-center-block-expandible-body">
		<div class="field-line field-200">
			<label>Cellulare destinatario test<span>*</span>:</label>
			<input type="text" name="telefono_wapp" class="field" value="" maxlength="20">
		</div>
	</div>
</div>
<div class="message-center-block-expandible" data-type="sms">
	<div class="message-center-block-expandible-title">Test SMS</div>
	<div class="message-center-block-expandible-body">
		<div class="field-line field-200">
			<label>Cellulare destinatario test<span>*</span>:</label>
			<input type="text" name="telefono_sms" class="field" value="" maxlength="20">
		</div>
	</div>
</div>
</div>
{{ mc.slideBoxFooter(_h, _h.url('manager/myarea/carrello/ex-test-azione')) }}