{% import _h.template('_macro.html') as mc %}
{% set _lblm = _h.labels.get('my') %}
{% set _lblf = _h.labels.get('form') %}


<form id="pagina" class="block-margin">
	<h2>{{ _lblm.title_modifica_password }}</h2>
	<div class="field-text">
		{{ _lblm.modifica_tua_password }}
	</div>
	<div class="form-error-message"></div>
	<div class="field-line">
		<div class="field">
			<label>{{ _lblf.field_vecchia_password }} <span>*</span></label>
			<input type="password" name="old_password" class="valida-required valida-password action-show-password" maxlength="20">
		</div>
	</div>
	<div class="field-line">
		<div class="field">
			<label>{{ _lblf.field_nuova_password }} <span>*</span></label>
			<input type="password" name="password" class="valida-required valida-password valida-check-password valida-strong action-show-password" maxlength="20">
		</div>
	</div>
	<div class="field-line">
		<div class="field">
			<label>{{ _lblf.field_conferma_password }} <span>*</span></label>
			<input type="password" name="conferma_password" class="valida-required valida-confermapassword action-show-password" maxlength="20">
		</div>
	</div>
	{{ mc.google_recaptcha(_h, 'recupero_password') }}
	<div class="field-text-obbligatori">{{ _lblf.campi_obbligatori }}</div>
	<div class="field-button field-button-left">
		<a class="button-red button submit-form" href="javascript:void(0)" title="{{ btn }}" data-action='{"url": "{{ _h.url('account/ex-change-password') }}", "onComplete": {"type": "show", "show": "#conferma_pagina", "hide": "#pagina"}}'><span>{{ _lblf.btn_modifica }}</span></a>
	</div>

</form>

<div id="conferma_pagina" class="hide-block block-margin">
	<p>{{ _lblm.descr_conf_password_modificata }}</p>
	<p>{{ _lblm.descr_torna_al_sito }} <a href="{{ _h.url('index') }}">{{ _lblm.desc_link_home_page }}</a></p>
</div>