{% import _h.template('_macro.html') as mc %}
{% set _lblm = _h.labels.get('my') %}
{% set _lblf = _h.labels.get('form') %}

<div class="breadcrumbs clear">
	{{ mc.breadcrumbs_home(_h) }}
	{{ mc.breadcrumbs_separatore() }}
	<a>{{ _lblm.title_riassegna_password }}</a>
</div>

{% if ref_id %}
<form id="pagina" class="block-margin">
	<input type="hidden" name="ref_id" value="{{ ref_id }}">
	<input type="hidden" name="ref_token" value="{{ ref_token }}">
	<h2>{{ _lblm.title_riassegna_password }}</h2>
	<div class="field-text">
		<p>{{ _lblm.descr_riassegna_password }}</p>
	</div>
	<div class="form-error-message"></div>
	<div class="field-line-50-50">
		<div class="field-line">
			<div class="field">
				<label>{{ _lblf.field_nuova_password }} <span>*</span></label>
				<input type="password" name="password" class="valida-required valida-password valida-strong valida-check-password action-show-password" maxlength="20">
			</div>
		</div>
		<div class="field-line">
			<div class="field">
				<label>{{ _lblf.field_conferma_password }} <span>*</span></label>
				<input type="password" name="conferma_password" class="valida-required valida-confermapassword action-show-password" maxlength="20">
			</div>
		</div>
	</div>
	{{ mc.google_recaptcha(_h, 'recupero_password') }}
	<div class="field-text-obbligatori">{{ _lblf.campi_obbligatori }}</div>
	<div class="field-button field-button-left">
		<a class="button-red button submit-form" href="javascript:void(0)" title="{{ _lblf.btn_modifica }}" data-action='{"url": "{{ _h.url('account/ex-conferma-recupero-password') }}", "onComplete": {"type": "show", "show": "#conferma_pagina", "hide": "#pagina"}}'><span>{{ _lblf.btn_modifica }}</span></a>
	</div>
</form>

<div id="conferma_pagina" class="hide-block">

<div class="col-box-left">
	<h1>{{ _lblm.title_area_riservata }}</h1>
	<form>
		<fieldset class="fieldset-box">		
			<div class="field-text">
				{{ _lblm.accedi_indirizzo_email }}
			</div>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>{{ _lblf.field_email }}</label>
					<input type="text" name="e_mail" class="valida-required valida-email">
				</div>
			</div>
			<div class="field-line">
				<div class="field">
					<label>{{ _lblf.field_password }}</label>
					<input type="password" name="password" class="valida-required action-show-password">
				</div>
			</div>
			<div class="field-button field-button-right">
				<a class="button-red button submit-form" onclick="_ga('send', 'event', 'login', 'entra', 'login_entra')" href="javascript:void(0)" title="{{ _lblf.btn_entra }}" data-action='{"url": "{{ _h.url('account/ex-login') }}"}'><span>{{ _lblf.btn_entra }}</span></a>
			</div>
			<div class="field-text">
				<a href="{{ _h.url('account/recupero-password') }}" class="link" title="{{ _lblf.alt_btn_dimenticato_password }}">{{ _lblf.btn_dimenticato_password }}</a>
			</div>
		</fieldset>
	</form>
</div>
<div class="col-box-left-details page-details">
	<div class="col-box-left-details-inner">
	<div class="hide-block-title">{{ _lblm.title_conf_password_modificata }}</div>
	<p>{{ _lblm.descr_conf_password_modificata }}</p>
	<p>{{ _lblg.descr_help }} <a href="{{ _h.xurl('servizio-clienti') }}" title="{{ _lblg.alt_servizio_clienti }}">{{ _lblg.btn_servizio_clienti }}</a>.</p>
	</div>
</div>

</div>
{% else %}
{% set _lblg = _h.labels.get('global') %}
<div class="block-margin">
	<h2>{{ _lblm.title_conf_codice_non_valido }}</h2>
	<p>{{ _lblm.descr_conf_codice_non_valido }}</p>
	<p>{{ _lblg.descr_help }} <a href="{{ _h.xurl('servizio-clienti') }}" title="{{ _lblg.alt_servizio_clienti }}">{{ _lblg.btn_servizio_clienti }}</a>.</p>
</div>
{% endif %}