{% import _h.template('manager/_my_macro.html') as mymc %}
{% set imp = _h.config('template').manager.item.articolo %}
<table class="h-list item-autoload-total h-fixed-header-table{% if edit_table %} h-edit-table{% endif %}" data-action='{"editTable": {"url": "{{ _h.url('manager/myarea/articolo/ex-edit-value') }}"}}' cellpadding="0" cellspacing="0" border="0" data-total="{{ result.total }}">
<thead>
<tr class="h-list-header">
	<th style="width: 10px; padding: 0; overflow: hidden;">&nbsp;</th>
	<th style="width: 20px;">
		<span class="h-checkbox h-checkbox-select-all" data-value="1"><input type="hidden" name="_select_all" value="" /></span>
	</th>
	{% if imp.id %}
	<th style="width: 50px;" data-order="a.id" data-order-type="{{ result.order_type_a_id }}">ID</th>
	{% endif %}
	{% if imp.codice %}
	<th style="width: 100px;" data-order="a.codice" data-order-type="{{ result.order_type_a_codice }}">COD</th>
	{% endif %}
	{% if imp.codice_fornitore %}
	<th style="width: 100px;" data-order="a.codice_fornitore" data-order-type="{{ result.order_type_a_codice_fornitore }}">COD fornitore</th>
	{% endif %}
	<th class="h-edit-table-hide" style="width: 60px; text-align: center">&nbsp;</th>
	<th style="width: 40px;" data-order="a.ordine" data-order-type="{{ result.order_type_a_ordine }}">P</th>
	{% if _h.config('vendita_articoli_digitali', false) %}
	<th style="width: 45px;">Dig.</th>
	{% endif %}
	<th class="h-edit-table-hide" style="width: 40px;" data-order="a.esaurito" data-order-type="{{ result.order_type_a_esaurito }}">D</th>
	<th data-order="al.nome" data-order-type="{{ result.order_type_al_nome }}">Nome</th>
	{% if imp.nome_simbolico %}
	<th style="width: 150px;" data-order="al.nome_simbolico" data-order-type="{{ result.order_type_al_nome_simbolico }}">Nome simb.</th>
	{% endif %}
	{% if imp.azienda %}
	<th style="width: 100px;" data-order="az.nome" data-order-type="{{ result.order_type_az_nome }}">Azienda</th>
	{% endif %}
	{% if imp.tipo %}
	<th style="width: 80px;">Tipo</th>
	{% endif %}
	{% if _h.session.params.user.accesso != 3 %}
	<th class="h-edit-table-hide" style="width: 50px;">&nbsp;</th>
	{% endif %}
	{{ myma.header_item_articolo_add(_h) }}
	{% if imp.spedizione %}
	<th style="width: 30px;">Sped.</th>
	{% endif %}
	{% if not(imp.hide_prezzo) %}
	<th style="width: 80px;" data-order="a.prezzo" data-order-type="{{ result.order_type_a_prezzo }}">Prezzo</th>
	<th style="width: 60px;" data-order="a.sconto" data-order-type="{{ result.order_type_a_sconto }}">Sconto</th>
	{% endif %}
	{% if _h.config('gestione_magazzino', false) %}
		<th style="width: 50px;" data-order="a.quantita_magazzino" data-order-type="{{ result.order_type_a_quantita_magazzino }}">Qta</th>
	{% endif %}
	{% if imp.prezzo_acquisto %}
	<th style="width: 80px;" data-order="a.prezzo_acquisto" data-order-type="{{ result.order_type_a_prezzo_acquisto }}">Prz. Acq.</th>
	{% endif %}
</tr>
</thead>
<tbody>
{% for item in result.list %}		
	{{ mymc.item_articolo(_h, item) }}
{% endfor %}
</tbody>
</table>
