{% import _h.template('manager/_macro.html') as mc %}
{% set _lbl = _h.labels.get('manager') %}

{% set lang = _h.input('lang', _h.config('default_language', 'it')) %}

{{ mc.slideBoxHeader(_h, 'Modifica prezzi da file') }}
<p class="field-line-label">
	Modifica dei prezzi da file: <strong>.xls, .xlsx</strong>
</p>
<div class="field-line-label" style="margin-top: 10px;">
	La prima riga del file viene considerata come intestazioni, i nomi delle colonne (anche non in ordine) da utilizzare:
	<ul style="margin-top: 10px; margin-left: 20px;">
		<li><strong>HID</strong>, questo campo se valorizzato è il primo che viene tenuto in considerazione come riferimento all'articolo</li>
		<li><strong>CODICE</strong>, questo campo se valorizzato è il secondo dopo HID per riferimento all'articolo</li>
		<li><strong>CODICE FORNITORE</strong>, questo campo se valorizzato è il terzo dopo CODICE per riferimento all'articolo</li>
		<li><strong>PREZZO</strong>, se non valorizzato viene tenuto conto del prezzo imponibile (l'IVA considerata è quella impostata nella scheda)</li>
		<li><strong>PREZZO IMPONIBILE</strong></li>
		<li><strong>SCONTO</strong></li>
		<li><strong>SCONTO LOGIN</strong></li>
		<li><strong>SCONTO B2B</strong></li>
		<li><strong>PREZZO ACQUISTO</strong></li>
	</ul>
</div>
<div class="field-line field-400">
	<label>Solo se articolo appartiene a {{ _lbl.azienda_brand }}:</label>
	<select name="id_azienda" class="valida-required field">
		<option value=""></option>
	{% for i in listAzienda %}
		<option value="{{ i.id }}" {% if i.id == item.get('id_azienda') %}selected{% endif %}>{{ i.get('nome') }}</option>
	{% endfor %}	
	</select> 
</div>

<fieldset class="fieldset-box">
	<div class="field-line field-line-file" data-file="">
		<input type="hidden" name="file_data" class="field-file valida-required" value="">
		<input type="hidden" name="file_data_name" class="field-file-name">
		<label>File (.xls, .xlsx) <span>*</span></label>
		<div class="field-anteprima"></div>
		<div class="field-button">
			<a class="h-bar-button h-bar-button-blu h-action-upload-file" data-action='{"url": "{{ _h.url('manager/myarea/upload-temp-file') }}", "fileType": ["xls","xlsx"]}'>carica file</a>
			<a class="h-bar-button h-bar-button-gray h-action-upload-file-reset">Cancella</a>
		</div>
		<div class="clear"></div>
	</div>
</fieldset>


		<fieldset>
	</div>
	<div class="h-layout-bottombar">
		<div class="h-layout-content-wrapper">
			<a href="javascript:void(0);" class="h-bar-button h-bar-button-gray h-close-box">Annulla</a>
			<a href="javascript:void(0);" class="h-bar-button h-bar-button-blu h-action-submit" data-action='{"method": "get", "target": "_blank", "url":"{{ _h.url('manager/myarea/articolo/ex-prezzo-from-upload') }}", "onComplete": {"closeWin": true}, "loadinMessage": "operazione in corso..."}'>Esegui</a>
		</div>
	</div>
	</form>
</div>