{% set _lbl = _h.labels.get('step_acquisto') %}
<div class="step hide-button" data-step="">
	<h3>{{ _lbl.step_custodia_titolo }}</h3>
	<p class="evidenzia">{{ _lbl.step_custodia_descrizione }}</p>
	
	<div class="field-brand">
		{% for elem in list %}
			<div class="field-brand-item next" data-callback="param_articolo" data-url="co-seleziona-fotocamera" value="{{ elem.id }}">
				<img src="{{ elem.imageUrl('300x300') }}">
				<strong>{{ elem.get('nome') }}</strong>
				<span>&#x276F;</span>
			</div>
		{% endfor %}
	</div>

	<div class="clear step-bottombar">
		<a class="item-acquista-step-close">{{ _lbl.btn_annulla }}</a>
	</div>
</div>