<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, target-densitydpi=device-dpi">
	<meta http-equiv="Content-Language" content="IT">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title></title>
</head>
<body>
<form id="form" method="post" action="https://gioc.app/api/login" style="display: none;">
	<input type="hidden" name="token" value="{{ token }}">
	<input type="hidden" name="check" value="{{ check }}">
	<input type="hidden" name="app" value="{{ app }}">
	<input type="hidden" name="api_key" value="{{ api_key }}">
	<input type="hidden" name="url_callback" value="{{ url_callback }}">
</form>
<script>
document.getElementById('form').submit();
</script>
</body>
</html>