<div class="image-wrapper"></div>
<div class="window-wrapper">
	<header>
		<div class="logo">
			<img src="/assets/manager/img/logo-login.png">
		</div>
	</header>
		<form>
			<fieldset>

				<strong>MODIFICA PASSWORD</strong>
				<p class="field-line">
					<label>Vecchia password:</label>
					<input type="password" name="old_password" class="field valida-required" maxlength="30">
				</p>
				<p class="field-line">
					<label>Nuova password:</label>
					<input type="password" name="password" class="field valida-required valida-password valida-check-password" maxlength="30">
				</p>
				<p class="field-line">
					<label>Conferma Password:</label>
					<input type="password" name="conferma_password" class="field valida-required valida-password valida-confermapassword" maxlength="30">
				</p>
				<p class="field-line form-error-message"></p>
				<p class="field-line">
					<a href="javascript:void(0);" class="btn-submit h-action-submit h-return-submit" title="Accedi" data-action='{"url":"{{ _h.url('manager/ex-change-password') }}", "buttonLogin": true, "onComplete": "{{ _h.url('manager/myarea/index') }}"}'>Modifica</a>
				</p>
			</fieldset>
		</form>
	<footer>
		<div class="copy">
		{% include _h.template('manager/_copy.html') %}
		</div>
	</footer>
</div>