{
	"on:validation-error": {
		"forward": "validation-error"
	},	
	"on:invalid-authentication": {
		"forward": "invalid-authentication"
	},
	"on:exception": {
		"forward": "exception"
	},
	"on:activity-not-found": {
		"forward": "activity-not-found"
	},
	"on:begin": [
		"cart/load-info-cart",
		"account/info-data-user",
		{"name": "list-banner", "params": {"list": "listBanner"}},
		{"name": "list-pagine", "params": {"list": "listPagine", "map": "mapPagine"}},
		{"name": "list-attributo", "params": {"type": "categoria_blog", "parent_id": 0, "add_icon_plus": false, "cache_abilitata": false, "list": "listCategoriaBlog"}},
		{"name": "tree-attributo", "params": {"type": "categoria", "parent_id": 0, "add_icon_plus": true, "icona": "300x300", "cache_abilitata": false}},
		"list-fotocamera",
		{"name": "list-attributo", "params": {"type": "fotocamera", "list": "listFotocamera", "parent_id": 0}},
		{"name": "list-attributo", "params": {"type": "cellulare", "list": "listCellulare", "parent_id": 0}}
	],
	"before:template": [
		"header"
	],
	"after:template": [
		"footer"
	]
}