<div class="window" id="pagina_base">
	<a class="window-close" href="{{ _h.xurl('index') }}"><img src="/assets/website/img/ico-close.png"></a>
	<div class="window-header">
		<img src="/assets/website/img/logo-app.png">
	</div>
	<div class="window-body">
		<h1>Password</h1>
		<form>
			<p>Inserisci l'email utilizzata in fase di registrazione, riceverai un codice da inserire il re-impostare la password.</p>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>E-Mail</label>
					<input type="text" name="e_mail" class="valida-required valida-email input-return-submit">
				</div>
			</div>
			<div class="field-button">
				<a class="button-red button submit-form" href="javascript:void(0)" data-action='{"url": "{{ _h.xurl('_app/recupero-password') }}", "onComplete": {"type": "show", "show": "#pagina_otp", "hide": "#pagina_base", "fill_field": ["token"]}}'><span>Recupera</span></a>
			</div>
		</form>	
	</div>
</div>
<div class="window" id="pagina_otp" style="display: none;">
	<a class="window-close" href="{{ _h.xurl('index') }}"><img src="/assets/website/img/ico-close.png"></a>
	<div class="window-header">
		<img src="/assets/website/img/logo-app.png">
	</div>
	<div class="window-body">
		<h1>Conferma</h1>
		<form>
			<input type="hidden" name="token">
			<input type="hidden" name="servizio" value="recupero-password">
			<p>Inserisci il codice che ti è stato inviato tramite e-mail</p>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>Codice</label>
					<input type="text" name="otp" class="valida-required input-return-submit" maxlength="10">
				</div>
			</div>
			<div class="field-button">
				<a class="button-red button submit-form" href="javascript:void(0)" data-action='{"url": "{{ _h.xurl('_app/otp') }}", "onComplete": {"type": "show", "show": "#pagina_modifica_password", "hide": "#pagina_otp", "fill_field": ["token", "e_mail"]}}'><span>Recupera</span></a>
			</div>
		</form>	
	</div>
</div>
<div class="window" id="pagina_modifica_password" style="display: none;">
	<a class="window-close" href="{{ _h.xurl('index') }}"><img src="/assets/website/img/ico-close.png"></a>
	<div class="window-header">
		<img src="/assets/website/img/logo-app.png">
	</div>
	<div class="window-body">
		<h1>Nuova password</h1>
		
		<form>
			<input type="hidden" name="token">
			<input type="hidden" name="e_mail">
			<input type="hidden" name="servizio" value="recupero-password">
			<p>Inserisci la tua nuova password</p>
			<div class="form-error-message"></div>
			<div class="field-line">
				<div class="field">
					<label>Password</label>
					<input type="password" name="password" class="valida-required input-return-submit">
				</div>
			</div>
			<div class="field-button">
				<a class="button-red button submit-form" href="javascript:void(0)" data-action='{"url": "{{ _h.xurl('_app/ex-password') }}"}'><span>Salva</span></a>
			</div>
		</form>
	</div>
</div>