{% import _h.template('manager/_macro.html') as mc %}

{% set lang = _h.input('lang', _h.config('default_language', 'it')) %}

{% if item == null %}
	{% set title = 'Nuovo Easydive Point' %}
	{% set ordine = 0 %}
{% else %}
	{% set title = 'Modifica Easydive Point' %}
	{% set ordine = item.get('ordine', 0) %}
{% endif %}
{{ mc.slideBoxHeader(_h, title) }}
<input type="hidden" name="lang" value="{{ lang }}">
<input type="hidden" name="id" value="{{ item.id }}">

<div class="h-tab{% if edit_lang %} edit-lang-wrapper{% endif %}">

<div data-tab-rif="base" class="edit-lang">Easydive Point</div>
<div data-tab-rif="categorie">Categoria</div>

<div data-tab="base" class="edit-lang">
{{ mc.contenutiInLingua(lang) }}
<div class="field-line field-150 field-line-left">
	{% set cssClass = ' h-checkbox-checked' %}
	{% set value = 1 %}
	{% if item %} 
		{% if item.abilitato() %} 

		{% else %}
			{% set cssClass = '' %}
			{% set value = '' %}
		{% endif %}
	{% endif %}
	<div class="h-checkbox-wrapper"><span class="h-checkbox{{ cssClass }}" data-value="1"><input type="hidden" name="abilitato" value="{{ value }}" /></span> <strong>Abilitato</strong></div>
</div>

<div class="field-line field-100 field-line-left">
	<label>Peso/posizione<span>*</span>:</label>
	<input type="text" name="ordine" class="field valida-required valida-digitnumber" value="{{ ordine }}">
</div>
<div class="clear"></div>
<p class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Nome<span>*</span>:</label>
	<input type="text" name="nome" class="field valida-required" value="{{ item.get('nome') }}" maxlength="250">
</p>
{{ mc.upload_immagine(_h, 'Immagine principale', item.imageAnteprima()) }}
<div class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Testo:</label>
	{{ mc.gestione_file() }}
	<textarea name="testo" class="visual-editor">{{ item.get('testo') }}</textarea>
</div>
<p class="field-line field-400 edit-lang">
	<label>{{ mc.labelLang(lang) }} Anteprima (breve descrizione):</label>
	<textarea name="descrizione_breve" class="field" maxlength="500">{{ item.get('descrizione_breve') }}</textarea>
</p>
{{ mc.labelCampiObbligatori() }}
</div>

<div data-tab="categorie">
{{ mc.dynamicOnlyOneTreeSelect(_h, 'Categoria', listCategoriaeasydivepoint, item, 'id_categoria', 'categoria_easydivepoint') }}
</div>

{{ mc.slideBoxFooter(_h, _h.url('manager/myarea/easydivepoint/ex-edit')) }}	
